body .container .modal-admin .modal-content {
    width: 850px;
 
}


#paint {
    border: solid #ccc 2px;
    border-radius: 8px;
}

.eraser_cursor {
    cursor: url("../images/cursor-eraser.png") 10 10, auto;
}

.brush_cursor {
    cursor: url("../images/brush.png") 7 35, auto;
}

#sketch {
	display: inline-block;
}

#online {
	display: inline-block;
	vertical-align: top;
	min-width: 100px;
	border: solid black 1px;
	
}
/*canvas {

}
*/
.online-top {
	background-color: gray;
	border-bottom: solid black 1px
}

.text-box {
	border: solid black 3px;
	border-radius: 7px;
	height: 250px;
	overflow-y: scroll;
	margin-bottom: 15px;

}

.green {
	color: green;
}

.red {
	color: red;
}

.inline {
	display: inline-block;
}

#circle2 {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    display: inline-block;
    background-color: black;
    margin: 0 5px 0 5px;
}

#circle4 {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    display: inline-block;
    background-color: black;
    margin: 0 5px 0 5px;
}

#circle6 {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    display: inline-block;
    background-color: black;
    margin: 0 5px 0 5px;
}

.cir-btn {
    border: none;
    padding: 0;
    margin: 0;
    background-color: white
}

#color {
	margin: 8px
}

.active-drawer {
    -webkit-animation: glow .5s infinite alternate;
}

.chat {
	margin: 0 5px 0 5px;
	font-size: 12px
}

.title {

	padding: 10px;
	border: dotted black 4px;
	border-radius: 12px;
	margin: 0px;

}

.title .inline {
	margin: 0px
}

.nav {
	margin-top: 10px
}

.img-border {
	border: solid gray 1px;
}



@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 10px green;
    }
}

@-moz-keyframes glow {
    to {
        text-shadow: 0 0 10px green;
    }
}

@-o-keyframes glow {
    to {
        text-shadow: 0 0 10px green;
    }
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px red;
    }
}