h1, h2, h3, h4, h5 {
    margin: 0;
}

.container {
    max-width: none !important;
    width: 1200px;
}

.title {
	margin-top: 15px;
	margin-bottom: 15px;
}

#btn_div {
	margin-top: 15px;
	text-align: right;

}

.btn {
	display: block;
	max-width: 150px;
	margin-bottom: 15px;
}

.break {
	border-top: solid gray 2px;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: solid gray 2px;
}

.circle-div {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
}

.circle-text {
	line-height: 94px;
	vertical-align: middle;
	text-align: center;
}

.gitHub {
    margin-left: 10px;
}

.logos {
	margin-top: 10px;
}
.twitter {
    max-width: 40px;
    height: auto;
    margin-left: 10px;
}

