<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/draw.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/normalize.css">	
	<script src="./javascript/jquery-2.1.4.min.js"></script>	
	<script src="./javascript/bootstrap.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<script src="./javascript/app.js"></script>
</head>
	<body>	
		<div class='container'>
			<div class="row">
				<div id="title_div">
					<h2 class="title">Draw with friends</h2>
					<h3 class='active-drawer inline' style='opacity: 1;'></h3>
					<div id="logos">
						<a href="/" class="btn btn-default btn-md" role="button">Home</a>
						<a href="https://github.com/paulchino/draw_w_friends"><img class="gitHub" src="./images/gitHub.png"></a>
						<a href="https://twitter.com/p__chang"><img class="twitter" src="./images/TwitterLogo.png"></a>
					</div>
				</div>
			</div>
			<div class="row tools">
				<div id="nav">
					<div class="brush_eraser">
						<button type="button" id='brush-btn' class='btn btn-sm' value='brush'><img src="./images/brush.png" class='brush-icon'></button>						
						<button type="button" id='eraser-btn' class='btn btn-sm' value='Eraser'><img src="./images/cursor-eraser.png" class="eraser-icon"></button>	
					</div>
					<div class="brush_size">
						<h4>brush/eraser size:</h4>
						<button class='cir-btn size-2' value="2">
							<div class='cir circle2'></div>
						</button>
						<button class='cir-btn size-4' value="8">
							<div class='cir circle4'></div>
						</button>
						<button class='cir-btn size-6' value="14">
							<div class='cir circle6'></div>
						</button>
					</div>
					<div class="brush_color_div">
						<h4>brush color:</h4>
						<div class="color">
							<button value="black" class="color_sq black"></button>
							<button value="red" class="color_sq red_col"></button>
							<button value="blue" class="color_sq blue"></button>
							<button value="green" class="color_sq green_col"></button>
							<button value="yellow" class="color_sq yellow"></button>
						</div>
					</div>
					<div class="email_over_div">
						<button type="button" id='gall_btn' class="btn btn-info btn-md"><a href="/gallery">view gallery</a></button>
						<button type="button" id='save' class="btn btn-success btn-md">email</button>
						<button type="button" id='restart' class='btn btn-danger btn-md'>start over</button>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-9'>
					<div id="sketch">
						<canvas id="paint" class='brush_cursor' width='800' height='500'></canvas>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-3' id='online'>
							<h4 class='online-top'>currently online</h4>
						<ol>
						</ol>
					</div>
					<div class='col-md-3 no_left_pad'>
						<h4 class='text-center'>friends chat</h4>
						<div class='text-box'></div>
					</div>
					<div class='col-md-3'>
						<div class='mess-box'>
							<form id='form' action='/send_chat' method='post'>
								<div class='form-group'>
									<label for="Message">send message</label>
									 <input type="text" class="form-control chat" name='chat' placeholder="chat with friends!">
								</div>
							</form>
						</div>
					</div>
					<div class='col-md-3'>
						<h3 class='text-center'>submit to gallery!</h3>
						<button type="button" class='btn btn-primary btn-block gallery-btn'>add</button>
					</div>
				</div>
			</div>
			<!-- Modal on site load -->
			<div class="modal fade" id="popupModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  			<div class="modal-dialog">
	    			<div class="modal-content">
	      				<div class="modal-header">
					        <h4 class="modal-title" id="myModalLabel">Please Enter Name</h4>
	      				</div>
	      				<div class="modal-body">
					      	<form id='enter-form'>
					  			<div class="form-group">
					    			<label for="Name">Enter Name</label>
					    			<input type="text" name='name' class="form-control" id="username" placeholder="Enter Name">
					  			</div>
					  			<button type="submit" class="btn btn-default">Enter</button>
							</form>
	      				</div>
	    			</div>
	  			</div>
			</div>
			<!-- end of on site modal -->

			<!-- Modal for email drawing -->
			<div class="modal fade modal-admin" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog_1">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h2 class="modal-title" id="myModalLabel">Send Your Drawing to Friends!!!</h2>
			      </div>
			      <div class="modal-body">
					<h3>Note - Email feature has been disabled. Visit <a href="https://github.com/paulchino/draw_w_friends">github</a> for code.</h3>
			      	<form id='email-form'>		
    					<label for="exampleInputEmail1">Email address - send to 3 people max (seperate with " , " ) </label>
    					<input type="email" class="form-control" id="inputEmail1" placeholder="example@gmail.com" name='email' multiple>
    					<input type='submit' class='btn btn-primary' value='send!'>
    				</form>
    				<hr>
    				<div class='img-border'>
			      		<img id='save_img' alt="Dojo Image" />
			      	</div>
			      </div>
			      <div class="modal-footer">
			      </div>
			    </div>
			  </div>
			</div> <!-- End of Email Modal -->
		</div> <!-- end of container -->
	</body>
</html>


