<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/gallery.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/normalize.css">
</head>
	<div class='container'>
		<div class="row">
			<div id="title_div">
				<h2 class="title">Draw with friends - Gallery</h2>
				<div id="logos">
					<button type="button" id='back_btn' class="btn btn-info btn-md"><a href="/draw">back to drawing</a></button>
					<a href="https://github.com/paulchino/draw_w_friends"><img class="gitHub" src="./images/gitHub.png"></a>
					<a href="https://twitter.com/p__chang"><img class="twitter" src="./images/TwitterLogo.png"></a>
				</div>
			</div>
		</div>
		<div class='row'>
			<% for (var x in drawing) { %>
			<div class='col-md-12'>
				<div class='drawing-box'>
					<h3 class="center underline">Created On</h3>
					<h4 class="center"> <%= (drawing[x].created).toDateString() %></h4>
					<img src="<%=drawing[x].image %>" class='drawing'>
				</div>
			</div>
			<% } %>
		</div>
	</div>

</html>