<html>
<head>
	<meta charset="utf-8"/>
	<title>Group Chat</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/normalize.css">	
	<link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
</head>
<body>
	<div class='container'>
		<div class='row'>
			<div class='col-md-7'>
				<h3 class='title'>1) Draw with Friends is where you can create a whiteboard online and invite people to draw things with you.</h3>
				<h3>2) Draw with Friends is a place that lets you draw together</h3>
			</div>
			<div class='col-md-5' >
				<div id="btn_div">
					<a href="/draw" class="btn btn-success btn-lg active" role="button">join the fun!</a>
					<a href="/gallery" class="btn btn-info btn-lg active" role="button">or view gallery!</a>
				</div>
			</div>
		</div>
		<div class='row break'>
			<div class='col-md-4'>
				<div class='circle-div'>
					<h1 class='circle-text'>1</h1>
				</div>
				<h3 class='text-center circle-text'>Create a virtual whiteboard</h3>
			</div>					
			<div class='col-md-4'>
				<div class='circle-div '>
					<h1 class='circle-text'>2</h1>
				</div>
				<h3 class='text-center circle-text'>Invite coworkers/friends</h3>
			</div>					
			<div class='col-md-4'>
				<div class='circle-div'>
					<h1 class='circle-text'>3</h1>
				</div>
				<h3 class='text-center circle-text'>Have fun!</h3>
			</div>
		</div>
		<div class='row'>
			<div class='logos'>
				<a href="https://github.com/paulchino/draw_w_friends"><img class="gitHub" src="./images/gitHub.png"></a>
				<a href="https://twitter.com/p__chang"><img class="twitter" src="./images/TwitterLogo.png"></a>
			</div>
		</div>
	</div>

</body>
</html>