<html>
<head>
	<meta charset="utf-8"/>
	<title>Group Chat</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./stylesheets/index.css">

</head>

<body>
	<div class='container'>
		<div class='row'>
			<div class='col-md-7'>
				<h3>1) Draw with Friends is where you can create a whiteboard online and invite people to draw things on the whiteboard with you. 2) Draw with Friends is a place that lets you draw together</h3>
			</div>
			<div class='col-md-5' >
					<a href="/draw" class="btn btn-primary btn-lg active" role="button">join the fun!</a>
					<a href="/gallery" class="btn btn-primary btn-lg active" role="button">or view gallery!</a>
			</div>
		</div>
		<div class='row break'>
			<div class='col-md-4'>
				<div class='circle-div '>
					<h1 class='text-center circle-text'>1</h1>
				</div>
				<h3 class='text-center circle-text'>Create a virtual whiteboard</h3>
			</div>					
			<div class='col-md-4'>
				<div class='circle-div '>
					<h1 class='text-center'>2</h1>
				</div>
				<h3 class='text-center circle-text'>Invite coworkers/friends</h3>
			</div>					
			<div class='col-md-4'>
				<div class='circle-div'>
					<h1 class='text-center'>3</h1>
				</div>
				<h3 class='text-center circle-text'>Have fun!</h3>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<img class='text-center' src="./images/landing_page.png">
			</div>
		</div>
		<hr>
	</div>

</body>
</html>